<app-header></app-header>

<div class="row" style="background-color: lightblue;">
    <div class="col-1">

    </div>
    <div class="col-5 m-4 " style="background-color: aqua;">
        <br><br><br>
        <h2>Hi user!!!! All the best for your quiz</h2>

        <p class="col-md-8 fs-4">Here are some set of rules to start your quiz</p>
        
        <ol>
            <li>
                <h2><b>Please do not close the tab in between the session</b></h2>
            </li>

            <li>
                <h2><b>Timer for each question is 60 sec. So please use wisely</b></h2>
            </li>

            <li>
                <h2><b>You can't navigate to previous question</b></h2>
            </li>

            <li>
                <h2><b>Be aware of Neagative marks</b></h2>
            </li>

            <li>
                <h2><b>Correct answer will add 10 points and Wrong answer deducts 2.5 points</b></h2>
            </li>
        </ol>
    </div>
    <div class="col-4 m-4">
        <img src="https://bizimages.withfloats.com/actual/5e5f863bdcbc8c0001c63b00.jpg" alt="logo"
            style="height:500px ; width:550px">

    </div>
</div>