<app-headertwo></app-headertwo>

<head>

	<script src="https://kit.fontawesome.com/9a416a1cca.js" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/your-embed-code.js"></script>
</head>

<body>
	<input type="checkbox" name="" id="side-menu-switch">
	<div class="side-menu">
		<form action="">
			&nbsp;&nbsp;Select a Subject For Quiz &nbsp;&nbsp;
			<span><i class="fa-solid fa-user-graduate"></i></span>


		</form>
		<nav>
			<a href="/startquiz"><i class="fas fa-gavel"></i>All Topics</a>
			<a href="gitquiz"><i class="fas fa-gavel"></i>GIT</a>
			<a href="htmlquiz"><i class="fas fa-gavel"></i>HTML</a>
			<a href="cssquiz"><i class="fas fa-gavel"></i>CSS</a>
			<a href="angularquiz"><i class="fas fa-gavel"></i>Angular</a>
			<a href="nodequiz"><i class="fas fa-gavel"></i>Node</a>
			<a href="awsquiz"><i class="fas fa-gavel"></i>AWS</a>
			<a href="dockerquiz"><i class="fas fa-gavel"></i>Docker</a>
		</nav>
		<label for="side-menu-switch">
			<i class="fas fa-angle-left"></i>
		</label>
	</div>

	<div class="row">
		<div class="col-3 left">

		</div>
		<div class="col right">
			<pre>
			     	<h1>Welcome to THBS quiz.. One stop Solution to Test Your Knowledge</h1>
				    <h1>Kindly select the topic and start your quiz</h1>
			</pre>
			<img src="https://thumbs.dreamstime.com/z/illustration-cartoon-little-girl-pointing-to-his-left-left-word-cartoon-little-girl-pointing-to-his-left-left-131135965.jpg"
				alt="left" style="height:50%; width: 60%;">
		</div>
	</div>
</body>