<nav class="navbar navbar-expand-lg navbar-dark bg-info">

    <div class="container-fluid ">


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXL7ZOo_yWOO4CmxpMzaTWcp3Z3452O-dNkQ&usqp=CAU"
                height="50" width="250" alt="logo">
            <span> THBS Final Assessment</span>
        </a>


        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">


            <li>
                <a>
                    <h2>Welcome {{session}} </h2>
                </a>
            </li>

            <li style="position:absolute; right:20px; bottom:20px ">
                <a class="btn btn-primary" href="/welcome" role="button">SignOut</a>
            </li>

        </ul>
    </div>

</nav>