<!-- <section>Footer Example 4</section> -->
<footer class="footer-distributed">

  <div class="footer-left">

    <img src="https://image3.mouthshut.com/images/imagesp/925101519s.jpg" alt="logo"
      style="width: 300px; height: 50px;">

    <p class="footer-links">
      <a href="#" class="link-1">Home</a>

      <a href="#">Blog</a>

      <a href="#">Pricing</a>

      <a href="#">About</a>

      <a href="#">Faq</a>

      <a href="#">Contact</a>
    </p>

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Marathahalli outer ring road, Village, Devarabisanahalli</span> Solana Beach, Bangalore</p>
    </div>

    <b class="footer-company-name">THBS © 1998</b>
  </div>

  <div class="footer-center">

    <span>Contat Us </span>

    <div>
      <i class="fa fa-phone"></i>
      <p>+91 9505934505</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>+91 7349555846</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:raju_bhashabathini@thbs.com">raju_bhashabathini@thbs.com</a></p>

    </div>
    <div>
      <i class="fa fa-envelope"></i>

      <p><a href="mailto:chethan_nagaraju@thbs.com">chethan_nagaraju@thbs.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      The Company
      Torry Harris Business Solutions (THBS), founded in 1998, is headquartered in New Jersey, USA. The company is a
      trusted advisor to enterprises worldwide.
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>